@charset "UTF-8";

/* #all_list { */
/* 	position: absolute; */
/* 	top: 50%; */
/* 	left: 50%; */
/* } */

#movieInfoForm {
/* 	width: 1000px; */
	margin-top: 2%;
	margin-bottom: 5%;
	position: relative;
	left: 24%;
}
.a {
	
	position: absolute;
	top: 80%;
	left: 24%;
}
#title {
	font-size: 3em;
	padding-left: 30px;
}
#zzim {
	float: right;
}
#one {
	float: left;
}
#two {
	float: none;
	width: 1000px;
}
#info_in {
	font-size: medium;
}
#poster {
	width: 400px;
	margin: 20px;
}

#ott {
	width: 60px;
	height: 60px;
	margin: 10px;
}
#ottNo {
	width: 60px;
	height: 60px;
	margin: 10px;
	filter: grayscale(100%);
}

#ott_list > li {
	display: inline-block;
	position: relative;
	margin-right: 30px;
	margin-left: 30px;
}
#ottname {
	font-size: small;
}
.searchList>li {
	display: inline-block;
	position: relative;
	top: 10px;
}

.searchList>li>a {
	display: inline-block;
	position: relative;
	padding-bottom: 20px;
	margin: 50px;
}

.searchList li a span {
	position: absolute;
	bottom: 0;
	left: 50%;
	color: #666;
	line-height: 1.462em;
	white-space: nowrap;
	transform: translate(-50%, 0);
}

#yesHeart, #noHeart {
	width: 40px;
	height: 40px;
}


