@charset "UTF-8";
	  .result_wide {
	  	width: 100%;
	  	margin-bottom: 80px;
	  }
	   .result_inner ul {
	   	margin: 0 -12px 0 -12px;
	   }
	  .result_inner ul li {
	  	vertical-align: top;
        display: inline-block;
        width: 20%;
/*         max-height: max-content; */
        padding: 0 12px 56px 12px;
      }
/*       .result_inner li a { */
/*         display:block; position:relative; padding-bottom:19px; */
/*         margin: 30px; */
/*       } */
      .result_inner ul li img {
        width:100%;
        padding-bottom: 133%;
        
      }
      .result_inner li a span {
        position:absolute; bottom:0; left:50%; color:#666; line-height:1.462em; white-space:nowrap; transform:translate(-50%, 0)
      }
