@charset "UTF-8";

#background {
	background-color: rgb(27, 27, 27);
	color: white;
}

.search_box {
	position: relative;
	background-color: gray;
	left: 150px;
	bottom: 5px;
	height: 30px;
	width: 900px;
	
}

#search_btn {
	width: 50px;
}

img#mv {
	width: 200px;
	height: 240px;
}

input#search {
	width: 100%;
	border: 1px solid #bbb;
	border-radius: 8px;
	padding: 10px 12px;
	font-size: 14px;
	color: black;
}

