@charset "UTF-8";

#background {
	background-color: black;
	color: white;
}

.header {
	border: 1px solid;
	width: 100%;
	height: 50px;
	
}

.header ul li {
	list-style: none;
	float: left;
	
}

.search_box {
	position: relative;
	background-color: gray;
	left: 150px;
	bottom: 5px;
	height: 30px;
	width: 900px;
	
}

#search_btn {
	width: 50px;
}

img#mv {
	width: 200px;
	height: 240px;
}


