@charset "UTF-8";

#search {
	width: 85%;
}

.header {
	width: 100%;
	height: 50px;
	
}

#headerLink {
	color: white;
}

table.header {
	text-align: center;
}

#search_btn {
	width: 50px;
	color: black;
}

#ottIcon {
	height: 40px;
	width: 40px;
}