@charset "UTF-8";

input {
	width: 85%;
}

.header {
	border: 1px solid;
	width: 100%;
	height: 50px;
	
}

#headerLink {
	color: white;
}

td {
	text-align: center;
}

#search_btn {
	width: 50px;
	color: black;
}