@charset "UTF-8";

	a {
		color: white;
	}
	
	.top {
		width: 100%;
	}
/* 	.top ul { */
/* 		text-align: right; */
/* 	} */
	.top ul li {
		display: inline-block;
	}
 	.main { float: left;} 
 	.left { float: right; margin: 5px;}
	
	.home {

/* 		 transform: translate(50%, 50%); */
        text-align: center;
	}
	.home table {
		width: 70%;
		display: inline-block;
		text-align: center;
	}
/* 	.home th { */
/* 		text-align: center; */
/* 		} */
	.homeSearch input {
		width: 100%;
		border: 1px solid #bbb;
		border-radius: 8px;
		padding: 10px 12px;
		font-size: 14px;
	}
	
