@charset "UTF-8";

	a {
		color: white;
	}
	
	.top {
		width: 100%;
		
	}

	.top ul li {
		display: inline-block;
	}
 	.main { float: left;} 
 	.left { float: right; margin: 5px;}
	
	.home {
		/* margin-top: 50px; */
		/* align-items: center; */
		width: 80%;
		height: 100vh; 
        display: -webkit-box; 
        display: -moz-box;
        display: -ms-flexbox; 
        display: flex; 
 
            -webkit-box-align: center; 
            -moz-box-align: center;
            -ms-flex-align: center;
            align-items: center; /* 수직 정렬 */
 
            -webkit-box-pack: center;
            -moz-box-pack: center; 
            -ms-flex-pack: center; 
            justify-content: center; /* 수평 정렬 */		

	}
	.home table {
		width: 70%;
		display: inline-block;
		text-align: center;
	}


	.homeSearch input {
		width: 100%;
		border: 1px solid #bbb;
		border-radius: 8px;
		padding: 10px 12px;
		font-size: 14px;
		
	}
	.btn, .homeSearch {
		margin-right: 0;
		margin-left: 0;
	}
	
