@charset "UTF-8";

.main {
	margin-top: 3%;
}

.main ul li {
	list-style: none;
	float: left;
}

.main_hot {
	clear: both;
}


.main_hot ul li {
	width: 19%;
	margin-left: 1px;
	margin-right: 1px;
}

img#banner {
	margin: auto;
}

input#search {
	width: 100%;
	border: 1px solid #bbb;
	border-radius: 8px;
	padding: 10px 12px;
	font-size: 14px;
}