@charset "UTF-8";

/* .main {
	margin-top: 3%;
}

.main ul li {
	list-style: none;
	float: left;
} */

	
.main_hot {
	max-width: 100%;
	width: 100%;
	height: 250px;
	margin: 0 auto;
}

.main_hot ul {
	list-style: none;
	white-space: nowrap;
	overflow-x: hidden;
	
}

.main_hot ul li {
	display: inline-block;
	padding: 10px 20px;
	margin-right: 10px;
}

img#banner {
	margin: auto;
}