@charset "UTF-8";

/* .main {
	margin-top: 3%;
}

.main ul li {
	list-style: none;
	float: left;
} */
.main_hot {
	max-width: 100%;
	width: 100%;
	height: 300px;
}

.main_hot ul {
	list-style: none;
	white-space: nowrap;
	overflow-x: hidden;
}

.main_hot ul li {
	display: inline-block;
	margin-right: 10px;
}

svg.bi.bi-heart-fill {
	position: relative;
	left: 42px;
	bottom: 112px;
	opacity: .7;
}

img#banner {
	margin: auto;
	width: 750px;
	height: 300px;
}

a#pick {
	cursor: cell;
}