@charset "UTF-8";

.container {
   width: 400px;
   margin: 0 auto;
   margin-top:5%;

}


.chk-btn {
	display: inline-block;
	position: relative;
	font-weight: 600;
	text-align: right;
	cursor: pointer;
	border-radius: 3px;
	background-color: lightgrey;

}

div.form-group {
	width: 350px;
    height: 15px;
    border-radius: 5px;	
}

div.form-group input[type="submit"] {
	color:black;
	background-color: #C01616;
	font-weight: bold;
	height: 30px;
	border-radius: 5px;
	
}

input[type="email"] {
	color:black;
}