@charset "UTF-8";

div.container {
   width: 600px;
   margin: 0 auto;
   margin-top:5%;

}

div.container input{
	height: 30px;
	
}


.chk-btn {
	display: inline-block;
	position: relative;
	font-weight: 600;
	text-align: right;
	cursor: pointer;
	border-radius: 5px;
	background-color: #C01616;

}

div.form-group input {
    width: 400px;
    height: 30px;
    border-radius: 5px;	
    color: black;
}

.btn_lg {
	color: #2970A6;
}

button.chk-btn {
	color: black;
}


div.form-group input[type="submit"] {
	color:black;
	background-color: #C01616;
	font-weight: bold;
	height: 30px;
	border-radius: 5px;
	
}

div.form-group #email {
	width: 320px;
}

div.form-group #nickname {
	width: 320px;
}
