@charset "UTF-8";

div.container {
   width: 300px;
   margin: 0 auto;
   margin-top:5%;

}

div.container input{
	height: 30px;
	
}


.chk-btn {
	display: inline-block;
	position: relative;
	font-weight: 600;
	text-align: right;
	cursor: pointer;
	border-radius: 3px;
	background-color: lightgrey;

}

div.form-group input {
    width: 400px;
    height: 30px;
    border-radius: 5px;	
    color: black;
}


div.form-group input[type="submit"] {
	color:black;
	background-color: #C01616;
	font-weight: bold;
	height: 30px;
	border-radius: 5px;
	
}
