@charset "UTF-8";

body {
	background-color: black;
}

table {
	background-color: white;
	width: 100%;
}

table caption {
	color: white;
}

th {
	background-color: #E50914;
}

td {
	background-color: rgb(255, 191, 193);
}

td, th {
	padding: 15px;
	border: 1px solid #E50914;
}

#search {
	width: 20%;
	border: 1px solid #bbb;
	border-radius: 4px;
	padding: 5px 6px;
	font-size: 14px;
	text-align: center;
	position: absolute;
    top: 1%;
    left: 13%;
}