@charset "UTF-8";

.header {
	border: 1px solid;
	width: 100%;
	height: 50px;
	
}

.header ul li {
	list-style: none;
	float: left;
	
}

.main {
	margin-top: 10%;
}

.main img {
	width: 100%;
	height: 150px;
	
}

.main ul li {
	list-style: none;
	float: left;
}

.main_hot {
	clear: both;
}

.main_hot ul li {
	width: 19%;
	margin-left: 1px;
	margin-right: 1px;
}

#menu {
	margin-right: 10px;
}

#search {	
	width: 300%;
}

#login {
	float: right;
	margin-left: 10px;
}

