@charset "UTF-8";

caption {
	font-size: 25px;
	line-height: 150%;
}

body {
	background-color: rgb(254, 250, 207);
}

table {
	background-color: rgb(242, 242, 153);
	width: 100%;
}

td {
	background-color: rgb(255, 204, 204);
}

th {
	background-color: rgb(203, 35, 78);
}

td, th {
	padding: 15px;
	border: 1px solid purple;
}

#err {
	color: red;
	font-weight: bold;
}